.buttons_d0696b {
    margin: 6px 6px 6px auto !important;
    margin-left: auto;
    max-width: calc(40px * 6); /* CHANGE HERE: 6 columns when expanded */
    min-width: calc(40px * 2); /* CHANGE HERE: 2 columns when collapsed */
    width: min-content;
    display: flex;
    gap: 6px 0;
    flex-wrap: wrap-reverse;
    flex-grow: 1;
    height: fit-content;
    justify-content: right;
}
.buttons_d0696b .buttonContainer_d0696b,
.buttons_d0696b > .button_dd4f85 {
    width: 40px;
}
.separator_a06035 {
    margin: 0;
    justify-content: center;
    width: 40px;
}
.separator_a06035::before {
    display: none;
}
.separator_a06035 .innerButton_a06035 {

    margin: 0;
}
.textArea_d0696b {
    width: fit-content;
    flex-grow: 1.01;
}
