[class^=accountProfilePopoutWrapper] {
left: 0
}
[class^=accountProfilePopoutWrapper] [class*=userPopout] {
margin: 0;
width: fit-content
}
[class^=accountProfilePopoutWrapper] .section_d7a21f,
.userPopoutInner_c69a7b:has(#account) > *:not(:has(#account)),
.userPopoutOverlayBackground_c69a7b:has(#account) > *:not(#account) {
display: none;
}
