.standardSidebarView__1129a
 { top: 0 !important; }
.layer__2efaa + .layer__2efaa
 { border-radius: 10px !important;
   box-shadow: 5px 5px 25px black;
   border: 1px solid var(--border-strong);
   width: 1100px !important;
   height: 80vh !important;
   margin: auto !important;
   padding: 0 !important; }
#app-mount .baseLayer__8fda3 /*keep view under settings*/
 { opacity: 1 !important;
   transform: unset !important; }
