/* ShowMeYourName plugin */
.vc-smyn-suffix:before {
    content: "| @" !important
}
.vc-smyn-suffix:after {
    content: "" !important
}
.vc-smyn-suffix {
    color: currentColor !important;
    opacity: 0.5
}
/* Username */
.username_ec86aa, 
.base_d7ebeb .text_d7ebeb strong, 
.name_b11c5e {
    background: color-mix(in srgb, currentColor 25%, rgba(0, 0, 0, 0.25));
    text-shadow: 0 0 5px color-mix(in srgb, currentColor 25%, rgb(0, 0, 0));
    filter: brightness(1.25);
    margin-right: 4px;
    padding: 0 4px;
    border-radius: 4px;
}
.username_ec86aa::after {
    position: relative;
    margin: 0 0 0 8px;
    color: inherit;
    text-shadow: 0 0 5px black;
}
.contents_ec86aa .username_ec86aa::after {
content: "wrote:"
}
.message_d5deea:has(.edited_ec86aa) .contents_ec86aa .username_ec86aa::after {
content: "wrote and edited:";
}
.message_d5deea:has(.mediaAttachmentsContainer__242e2, .embed_ad0b71) .contents_ec86aa .username_ec86aa::after {
content: "sent attachment(s):"
}
.message_d5deea:has(.stickerAsset_cb3343) .contents_ec86aa .username_ec86aa::after {
content: "sent a sticker:"
}
.message_d5deea:has(.emoji.jumboable) .contents_ec86aa .username_ec86aa::after {
content: "sent emoji(s):"
}
.hasReply_ec86aa .contents_ec86aa .username_ec86aa::after {
content: "replied:"
}
.mentioned_d5deea .contents_ec86aa .username_ec86aa::after {
content: "mentioned:"
}
