/* [[ GUILD LIST ]] */
.guilds_a4d4d9 {
  width: 64px;
}

.listItem_c96c45,
.wrapper_bc7085,
.svg_c5f96a,
.blobContainer_a5ad63,
.listItem_c96c45 > .wrapper_fd07a3 + div:not([class]),
.wrapper_c5f96a,
.svg_c5f96a > foreignObject {
  width: 64px;
  mask: none !important;
}

.listItem_c96c45:not(:has(.guildSeparator_d0c57e)),
.wrapper_c5f96a,
.svg_c5f96a > foreignObject {
  height: 40px;
}

.expandedFolderBackground_bc7085 {
  width: 40px;
  border-radius: 4px;
}

.svg_c5f96a > foreignObject {
  transform: translateX(calc(-32px + 50%));
}

.wrapper__8436d,
.folder_bc7085,
.circleIconButton_db6521 {
  margin-left: 14px;
  width: 40px;
  justify-content: start;
  border-radius: 4px !important;
  height: 40px;
}

.wrapper__8436d img,
.folderIconWrapper_bc7085,
.childWrapper_a6ce15,
.expandedFolderIconWrapper_bc7085,
.closedFolderIconWrapper_bc7085 {
  border-radius: 4px !important;
  height: 40px;
  width: 40px;
}

.svg_c5f96a {
  position: static;
}

.wrapperSimple_c5f96a {
  border-radius: 0 !important;
}

.circleIcon_db6521 {
  height: 32px;
  margin-left: 0;
  width: 40px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: calc(40px / 7);
}

.circleIconButton_db6521.selected_db6521::after,
.wrapper__8436d[data-list-item-id*="guildsnav___"].selected_ae80f7::after {
  color: var(--interactive-active);
}

.wrapper_bc7085 > [id*="folder-items-"] {
  height: fit-content !important;
}

.expandedFolderBackground_bc7085 {
  height: 100%;
}

.upperBadge_c5f96a,
.lowerBadge_c5f96a {
  transform: translateX(-50%) !important;
}

.numberBadge__40d6f,
.iconBadge_c96c45 {
  border-radius: 2px;
}

.base__5ed84 {
  background: var(--brand-experiment-700) !important;
  font-size: 12px;
  box-shadow: 0 0 0 1.5px var(--brand-experiment);
}

.pill_db6521,
.wrapper_fd07a3:not(:last-child) {
  height: 40px !important;
  align-items: center;
  width: 3px;
  margin-left: 7px;
  background-color: var(--background-modifier-accent);
}

.wrapper_fd07a3:last-child {
  width: 3px;
  align-items: center;
  border-radius: 0;
  height: 40px !important;
}

.item_fd07a3 {
  max-height: 40px;
  background: var(--brand-experiment);
  border-radius: 0;
}

.blobContainer_a5ad63
  .wrapper__8436d[data-list-item-id*="guildsnav___"]::after {
  content: none;
}

.listItem_c96c45 {
  margin: 8px 0;
}

div[style="opacity: 1; height: 56px; transform: scale(1);"] {
  height: 40px !important;
}

path[d="M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z"] {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  d: path(
    "m6 14 1.45-2.9A2 2 0 0 1 9.24 10H20a2 2 0 0 1 1.94 2.5l-1.55 6a2 2 0 0 1-1.94 1.5H4a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h3.93a2 2 0 0 1 1.66.9l.82 1.2a2 2 0 0 0 1.66.9H18a2 2 0 0 1 2 2v2"
  );
}
