.chat_a7d72e,
.container_d1c246,
.container_c2739c,
.applicationStore_cecc86,
.containerSidenav_d576e9 {
  padding-top: 72px;
}
.container_a4d4d9 {
  display: block;
  height: 100%;
}
.guilds_a4d4d9 {
  position: absolute;
  z-index: +1;
  height: 72px;
  width: calc(100vw - 240px);
  top: 0;
  right: 0;
}
.base_a4d4d9 {
  height: 100%;
}
.tutorialContainer_f9623d {
  display: flex;
  width: fit-content;
}
.guilds_a4d4d9 .scroller_fea3ef {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto hidden !important;
  align-items: center;
  padding-right: 10px;
  padding-top: 0;
}
.guilds_a4d4d9 .scroller_fea3ef::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.listItem_c96c45 {
  width: 48px;
  height: 48px;
  margin-bottom: 0;
}
.listItem_c96c45 + [aria-label] {
  display: flex;
}
.expandedFolderBackground_bc7085 {
  width: calc(100% - 7px);
  height: 48px;
  top: 0;
  left: 7px;
}
.listItem_c96c45 {
  flex-direction: column;
  margin-left: 7px;
}
.listItem_c96c45 + [style]:not(ul) {
  height: 48px !important;
  width: 48px !important;
  display: flex !important;
}
[id*="folder-items-"],
.wrapper_bc7085 {
  width: fit-content !important;
  height: 48px !important;
  display: flex;
  align-items: center;
}
.wrapper_fd07a3,
.colorwaysBtnPill {
  top: unset;
  bottom: -12px;
  width: 48px !important;
  height: 8px !important;
  z-index: +1;
}
.wrapper_fd07a3 > .item_fd07a3,
.colorwaysBtnPill > .item_fd07a3 {
  rotate: -90deg;
  margin-left: 20px;
  margin-top: 8px;
}
.guildSeparator_d0c57e {
  width: 2px;
  height: 32px;
}
.listItem_c96c45:has(.guildSeparator_d0c57e) {
  width: 2px;
  margin: 0 7px;
}
.container_b2ca13 {
  background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
  height: 72px;
  margin-bottom: 0;
}
.sidebar_a4d4d9 {
  border-radius: 0 !important;
}
.panels_a4d4d9 {
  order: -1;
  display: flex;
  flex-direction: column-reverse;
}
.platform-osx .guilds_a4d4d9.wrapper_fea3ef {
  margin-top: 0;
}
.pill_db6521 {
  top: unset;
  bottom: 0;
}
.platform-osx .container_b2ca13 {
  height: 48px;
  padding-top: 24px;
}
.listItem_c96c45:has(.guildSeparator_d0c57e) {
  margin-right: 0;
}
