div:not(:has(.videoWrapper_f8a4f3)) + .pictureInPicture_d0596b,
div:not(:has(.videoWrapper_f8a4f3)) + .pictureInPicture_d0596b * {
    opacity: 0;
    pointer-events: none !important;
    transition: 0s !important;
}
