.panels_a4d4d9 {
    order: -1;
}
.container_b2ca13 {
    background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 8px;
    gap: 12px;
    margin: 0;
    height: fit-content;
    padding-top: 12px;
}
.platform-win .container_b2ca13,
.platform-osx .container_b2ca13 {
    padding-top: 4px;
}
.container_b2ca13 .flex_bba380 > .button_f67531 {
    --nitro-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background: var(--nitro-overlay,var(--background-primary));
    transition: background-color .15s ease-out,color .15s ease-out, border-radius .2s ease;
}
.container_b2ca13 .avatarWrapper_b2ca13 {
    --nitro-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
    width: 48px;
    height: 48px;
    min-width: unset;
    border-radius: 50px;
    background: var(--nitro-overlay,var(--background-primary));
    padding: 0;
    margin: 0;
    flex: 0 0 48px;
    transition: background-color .15s ease-out,color .15s ease-out, border-radius .2s ease;
    justify-content: center;
    cursor: pointer;
}
.container_b2ca13 .flex_bba380 {
    justify-content: space-between;
    width: 100%;
    padding-right: 12px;
}
.container_b2ca13 .avatarWrapper_b2ca13 .nameTag_b2ca13 {
    display: none;
}
.container_b2ca13 .avatarWrapper_b2ca13:hover,
.container_b2ca13 .avatarWrapper_b2ca13[aria-expanded="true"],
.container_b2ca13 .flex_bba380 > .button_f67531:hover {
    background: var(--brand-500);
    border-radius: 16px;
}
.content_a7d72e,
.chatContent_a7d72e,
.container_ee69e0,
.container_fd6364,
.header_fd6364,
.animatedContainer_fd6364,
.privateChannels_f0963d {
    border-top-left-radius: 8px;
}
.content_a7d72e:before {
    content: none;
}
.sidebar_a4d4d9 {
    background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
}
.platform-win .chat_a7d72e,
.platform-osx .chat_a7d72e {
    border-top-left-radius: 8px;
}
.container_adcaac {
    border-bottom: none;
    background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
    padding: 0;
    padding-bottom: 4px;
}
.actionButtons_adcaac {
    display: flex;
    gap: 12px;
    padding-top: 0;
    padding-right: 12px;
}
.actionButtons_adcaac .button_adcaac {
    --nitro-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
    width: 48px;
    height: 48px;
    padding: 0;
    border-radius: 50px;
    flex: 0 0 48px;
    background: var(--nitro-overlay,var(--background-primary));
    transition: background-color .15s ease-out,color .15s ease-out, border-radius .2s ease;
}
.actionButtons_adcaac .button_adcaac:hover,
.actionButtons_adcaac .button_adcaac[aria-expanded="true"] {
    background: var(--brand-500);
    border-radius: 16px;
}
.connection_adcaac {
    padding: 8px;
    height: 60px;
    box-sizing: border-box;
}
.peopleColumn_c2739c .inner__999f6 {
    height: 60px;
    padding: 0;
}
.nowPlayingColumn_c2739c .scroller_bf550a {
    margin: 0;
    overflow: hidden overlay !important;
    padding-right: 16px !important;
    border: none;
}
.nowPlayingColumn_c2739c .header_bf550a {
    margin: 0;
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-top: -16px;
    height: 60px;
    line-height: 60px;
    padding: 0 12px;
    box-sizing: border-box;
    background: var(--bg-overlay-4,var(--background-tertiary));
    position: fixed;
    z-index: +1;
}
.nowPlayingColumn_c2739c .header_bf550a + .itemCard_f02fcf {
    margin-top: 60px;
}
