@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --font-primary: "Poppins";

    /* above line changes the primary font only. You can also change the ones below (remove this line to activate the lines below)
    --font-display: "Roboto";
    --font-headline: "Roboto";
    --font-code: "Roboto"; /* you should use a monospace font for this */
}