.accountProfilePopoutWrapper_b2ca13 {left: 708px; top: 50px;}
.layerContainer_cd0de5:has([class^="userPopoutOuter_"])
{ backdrop-filter: blur(10px) !important; }
.accountProfilePopoutWrapper_b2ca13 {
    animation: 0.5s ease-out slide;
}

@keyframes slide {
    from {
        transform: translate(0, -1600px);
    }

    to {
        transform: translate(0, 0px);
    }
}
