.messagesWrapper_e2e187 {
    overflow: hidden;
}
.newMessagesBar_cf58b5 {
    top: -48px;
    height: 72px;
    transition: top 0.2s ease;
    background: none;
    box-shadow: none;
    border-radius: 0;
}
.newMessagesBar_cf58b5::before {
    content: '';
    background: var(--brand-experiment);
    box-shadow: var(--elevation-low);
    width: 100%;
    position: absolute;
    height: 32px;
    border-radius: 12px;
}
.newMessagesBar_cf58b5:hover {
    top: -12px;
}
