[class^="channelTextArea"]::before {
    content: "";
    width: 32px;
    height: 32px;
    bottom: calc(100% - 3px); /* Mess with the - 3px to change its vertical position */
    right: 10px; /* Switch this from right to left to put it on the left side, or increase/decrease to change its position */
    position: absolute;
    image-rendering: pixelated;
    pointer-events: none;
    background-image: url("https://saahild.com/oneko.gif");
    animation: oneko 1s infinite; /* change 1s to make the animation slower/faster */
}

@keyframes oneko {
    /*
    if you open the background image in ur browser, you will see that it has way more frames
    so if you want, you could make ur own keyframes for a different animation
    the top left frame is 0 0, second top row is -32 0, second row second is -32 -32 and so on
    the ...00001% makes it so that there's no transition between the frames, so if you wanted say 3 frames, you'd do 0%, 33.3%; 33.30001%, 66.6%; 66.60001%, 100%
    */
    0%, 50% {
        background-position: -64px 0;
    }
    50.0001%, 100% {
        background-position: -64px -32px;
    }
}
