.guilds_a4d4d9 {
    margin-bottom: 227px;
    box-sizing: border-box;
}
.container_b2ca13 {
    position: fixed;
    bottom: 0;
    left: 0;
    background: none !important;
    height: 227px;
    width: 72px;
    flex-direction: column;
    padding: 0;
    gap: 7px;
    padding-top: 7px;
    box-sizing: border-box;
    margin-bottom: 0;
}
.container_b2ca13 > .flex_bba380 {
    flex-direction: column;
}
.sidebar_a4d4d9,
.base_a4d4d9,
.panels_a4d4d9 {
    overflow: visible !important;
}
.base_a4d4d9 {
    width: calc(100% - 72px);
}
.container_b2ca13 .avatarWrapper_b2ca13 {
  height: 48px;
  padding: 0;
  width: 48px;
  min-width: unset !important;
  margin-right: 0;
  background: none !important;
}
.container_b2ca13 .avatarWrapper_b2ca13 .svg_c51b4e .avatar_c51b4e {
  border-radius: 50%;
  transition: .2s !important;
}
.container_b2ca13 .avatarWrapper_b2ca13:hover .svg_c51b4e .avatar_c51b4e {
  border-radius: 10px !important;
}
.container_b2ca13 .avatarWrapper_b2ca13 .nameTag_b2ca13 {
  display: none;
}
.container_b2ca13 .avatarWrapper_b2ca13 .avatar_b2ca13 {
  width: 48px !important;
  height: 48px !important;
}
.container_b2ca13 .svg_c51b4e {
  width: 60px !important;
  height: 60px !important;
}
.container_b2ca13 .avatarWrapper_b2ca13 .avatarStack_c51b4e::after {
    content: "";
    position: absolute;
    bottom: -4.5px;
    right: -4.5px;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color: var(--background-tertiary) !important;
}
.container_b2ca13 .svg_c51b4e,
.container_b2ca13 .svg_c51b4e > foreignObject {
  mask: none !important;
}
.container_b2ca13 .button_dd4f85 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: .2s;
  --bg-over: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
  background: var(--bg-over,var(--background-primary));
}
.container_b2ca13 .button_dd4f85:hover {
  border-radius: 16px;
  background-color: var(--brand-experiment);
  color: var(--interactive-active);
}
.container_b2ca13 > .flex_bba380 {
  gap: 7px;
}
.container_ee69e0,
.privateChannels_f0963d {
    border-top-left-radius: 8px;
    overflow: hidden;
}
.container_b2ca13:has(.flex_bba380 .button_dd4f85:nth-of-type(4)) {
    height: calc(227px + 56px) !important;
}
.guilds_a4d4d9:has(~ .base_a4d4d9 .container_b2ca13 .flex_bba380 .button_dd4f85:nth-of-type(4)) {
    margin-bottom: calc(227px + 56px) !important;
}
.accountProfilePopoutWrapper_b2ca13 {
    left: 0;
}
.avatarDecoration_c51b4e {
    width: 66.4px;
    height: 58.4px;
}
