/* Customizable */
:root {
  --chat-bubble-default: 0 0% 50%;
  --chat-bubble-replying: 180 100% 50%;
  --chat-bubble-mentioned: 39 100% 50%;
  --chat-bubble-automod: 0 100% 50%;
  --enable-chat-bubble-border: 1;
}

/* NOT Customizable */
:root {
  /* Chat bubbles requirements */
  --background-message-hover: none;
  --background-mentioned: none;
  --background-mentioned-hover: none;
  --background-message-highlight: none;
  --background-message-automod: none;
  --background-message-automod-hover: none;
  --info-warning-foreground: none;
}

/* [[ CHAT BUBBLES ]] */
.channelTextArea_a7d72e {
  background: transparent;
}

.markup_d6076c.messageContent_ec86aa a {
  background: var(--background-modifier-accent);
  color: var(--text-link);
  font-weight: 600;
  padding: 0 4px;
  border-radius: 4px;
}

.groupStart_d5deea.cozyMessage_d5deea
  > .contents_ec86aa:hover
  .markup_d6076c.messageContent_ec86aa
  a,
.cozyMessage_d5deea:not(.groupStart_d5deea)
  > .contents_ec86aa:hover
  > .markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *)
  a {
  background: var(--background-modifier-hover);
  text-decoration: none;
}

.groupStart_d5deea.cozyMessage_d5deea > .contents_ec86aa,
.cozyMessage_d5deea:not(.groupStart_d5deea)
  > .contents_ec86aa
  > .markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *),
.container_b558d0
  > :not(.reactions_ec6b19, .searchResultsWrap_c2b47d *, iframe) {
  margin: 2px 0;
  padding: 8px;
  border-radius: 8px;
  background: hsl(var(--chat-bubble-default) / 25%);
  border: calc(2px * var(--enable-chat-bubble-border)) solid
    hsl(var(--chat-bubble-default));
  max-width: max-content;
  box-sizing: border-box;
}

.mediaAttachmentsContainer__242e2 {
  margin-bottom: 0 !important;
}

.altText_cf58b5 {
  margin: 8px 0 -4px;
}

.groupStart_d5deea.cozyMessage_d5deea > .contents_ec86aa:hover,
.cozyMessage_d5deea:not(.groupStart_d5deea)
  > .contents_ec86aa:hover
  > .markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *),
.container_b558d0
  > :not(.reactions_ec6b19, .searchResultsWrap_c2b47d *, iframe):hover {
  background: hsl(var(--chat-bubble-default) / 50%);
}

.groupStart_d5deea.cozyMessage_d5deea.replying_d5deea > .contents_ec86aa,
.cozyMessage_d5deea.replying_d5deea:not(.groupStart_d5deea)
  > .contents_ec86aa
  > .markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *),
.replying_d5deea
  .container_b558d0
  > :not(.reactions_ec6b19, .searchResultsWrap_c2b47d *, iframe) {
  background: hsl(var(--chat-bubble-replying) / 25%);
  border: calc(2px * var(--enable-chat-bubble-border)) solid
    hsl(var(--chat-bubble-replying));
  border-radius: 8px;
  max-width: max-content;
}

.groupStart_d5deea.cozyMessage_d5deea.replying_d5deea > .contents_ec86aa:hover,
.cozyMessage_d5deea.replying_d5deea:not(.groupStart_d5deea)
  > .contents_ec86aa
  > .markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *):hover,
.replying_d5deea
  .container_b558d0
  > :not(.reactions_ec6b19, .searchResultsWrap_c2b47d *, iframe):hover {
  background: hsl(var(--chat-bubble-replying) / 50%);
}

.groupStart_d5deea.cozyMessage_d5deea.mentioned_d5deea > .contents_ec86aa,
.cozyMessage_d5deea.mentioned_d5deea:not(.groupStart_d5deea)
  > .contents_ec86aa
  > .markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *),
.mentioned_d5deea
  .container_b558d0
  > :not(.reactions_ec6b19, .searchResultsWrap_c2b47d *, iframe) {
  background: hsl(var(--chat-bubble-mentioned) / 25%);
  border: calc(2px * var(--enable-chat-bubble-border)) solid
    hsl(var(--chat-bubble-mentioned));
  border-radius: 8px;
}

.groupStart_d5deea.cozyMessage_d5deea.mentioned_d5deea > .contents_ec86aa:hover,
.cozyMessage_d5deea.mentioned_d5deea:not(.groupStart_d5deea)
  > .contents_ec86aa
  > .markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *):hover,
.mentioned_d5deea
  .container_b558d0
  > :not(.reactions_ec6b19, .searchResultsWrap_c2b47d *, iframe):hover {
  background: hsl(var(--chat-bubble-mentioned) / 50%);
}

.groupStart_d5deea.cozyMessage_d5deea.automodMessage_d5deea > .contents_ec86aa,
.cozyMessage_d5deea.automodMessage_d5deea:not(.groupStart_d5deea)
  > .contents_ec86aa
  > .markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *),
.automodMessage_d5deea
  .container_b558d0
  > :not(.reactions_ec6b19, .searchResultsWrap_c2b47d *, iframe) {
  background: hsl(var(--chat-bubble-automod) / 25%);
  border: calc(2px * var(--enable-chat-bubble-border)) solid
    hsl(var(--chat-bubble-automod));
  border-radius: 8px;
}

.groupStart_d5deea.cozyMessage_d5deea.automodMessage_d5deea
  > .contents_ec86aa:hover,
.cozyMessage_d5deea.automodMessage_d5deea:not(.groupStart_d5deea)
  > .contents_ec86aa
  > .markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *):hover,
.automodMessage_d5deea
  .container_b558d0
  > :not(.reactions_ec6b19, .searchResultsWrap_c2b47d *, iframe):hover {
  background: hsl(var(--chat-bubble-automod) / 50%);
}

.automodMessage_d5deea:before,
.replying_d5deea::before,
.mentioned_d5deea::before {
  display: none;
}

/* Message embeds (Vencord plugin) */
.grid_ad0b71 {
  padding: 4px 8px 8px 6px;
}

.grid_ad0b71 .embedAuthor_ad0b71 span {
  font-weight: bold;
}

.grid_ad0b71 .message_ddc613 {
  padding: 8px 0;
}

.grid_ad0b71 .message_ddc613 .avatar_ec86aa {
  margin: 0;
}

/* Spotify embeds */
.container_b558d0 > .embedSpotify_ad0b71 {
  padding: 0;
  border-radius: 12px !important;
}

/* Fix avatar location */
.contents_ec86aa [class^="avatar__"] {
  margin-top: -10px;
}

.contents_ec86aa .avatarDecoration_ec86aa {
  margin-top: -14px;
}
