.container_cebd1c .slider_cebd1c > rect {
    transition: fill .2s ease;
    fill: white !important;
}
.container_cebd1c .slider_cebd1c {
    margin-top: 3px;
    margin-left: 2px;
}
.container_cebd1c.checked_cebd1c .slider_cebd1c {
    margin-left: 10px;
}
.container_cebd1c .slider_cebd1c > svg {
    display: none;
}
.container_cebd1c.checked_cebd1c .slider_cebd1c > rect {
    fill: var(--brand-experiment) !important;
}
.container_cebd1c:has(.slider_cebd1c) {
    height: 24px;
    width: 46px !important;
    transition: .2s ease;
}
.container_cebd1c.checked_cebd1c:has(.slider_cebd1c) {
    background-color: var(--brand-experiment-300) !important;
}
